{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% if user %}
        <h2 class="text-center mb-4">Your Links</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for item in user_links %}
                    <div class="card mb-3 text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.url }}</p>
                            <a href="/proxy/{{ item.name }}/home" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
