{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">User Profile</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>User Data</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">New Username:</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8">
            <h2>Statistics</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Website</th>
                        <th scope="col">Visits</th>
                        <th scope="col">Data Transferred</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in traffic_stats %}
                    <tr>
                        <td>{{ stat.site }}</td>
                        <td>{{ stat.visits }}</td>
                        <td>{{ stat.data_transferred }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
