{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center" >
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title">SignUp</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username:</label>
                    <input type="text" id="id_username" name="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email address:</label>
                    <input type="email" id="id_email" name="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password:</label>
                    <input type="password" id="id_password" name="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_check_password" class="form-label">Confirm Password:</label>
                    <input type="password" id="id_check_password" name="check_password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
