{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Create New Link</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_name" class="form-label">Link Name:</label>
                  <input type="text" id="id_name" name="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_url" class="form-label">Link URL:</label>
                    <input type="url" id="id_url" name="url" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
